<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="wrapper">

        <div id="header"></div>

        <main class="main-content">
            <input type="text" id="searchBar" placeholder="ابحث حسب اسم الطبيب" />

            <div class="filters">
                <select id="timeFilter">
                    <option value="">الترتيب حسب الوقت</option>
                </select>
                <select id="specialtyFilter">
                    <option value="">التصفية حسب التخصص</option>
                </select>
            </div>

            <div id="content"></div>
        </main>

        <div id="footer"></div>
    </div>
</div>

<div id="modal" class="modal">
    <span id="closeModal" class="close">&times;</span>
    <div id="modal-body"></div>
</div>

<script type="module" src="../js/services/adminDashboard.js" defer></script>
<script type="module" src="../js/components/doctorCard.js" defer></script>
</body>
</html>